html, body {
    height: 100%;
    margin: 0;
    bottom: 0%;
  }
  
  #container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  #content {
    flex: 1;
  }
  
  #footer {
    background-color: black;
    color: white;
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    bottom: 0;
  }
  
  .footer-column {
    width: 30%;
  }
  
  h4 {
    color: burlywood;
    margin-bottom: 10px;
  }
  
  a {
    color: aquamarine;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  p {
    margin: 5px 0;
  }
  